TWITCH_BROADCASTER_USERNAME=
TWITCH_BOT_USERNAME=
TWITCH_ACCESS_TOKEN=
TWITCH_CLIENT_ID=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback
SPOTIFY_REWARD_NAME=Spotify Queue

