TWITCH_BROADCASTER_USERNAME=
TWITCH_BOT_USERNAME=
TWITCH_ACCESS_TOKEN=
TWITCH_CLIENT_ID=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback
SPOTIFY_REWARD_NAME=Spotify Queue # this can be anything

OBS_WEBSOCKET_PASSWORD=
OBS_WEBSOCKET_PORT=4455
OBS_WEBSOCKET_IP=
OBS_SCENE=Gaming # match it to yours
OBS_SOURCE=Queueify # match it to yours

SP_DC=your_sp_dc_cookie_here # You must supply your sp_dc cookie from a logged-in Spotify session in your WEB browser